In [22]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

# Note that when you use _SQLAlchemy_ and establish the connection, you do not even need to be logged in Sequel Pro or MySQL Workbench.

In [23]:
# Establish a Connection to the Sakila Database
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [28]:
# Step 2: Create rentals_month Function

def rentals_month(engine, month, year):
    query = f"""
        SELECT rental_id, customer_id, DATE(rental_date) AS rental_date
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    """
    
    # Execute query and return DataFrame
    return pd.read_sql(query, con=engine)


# Call the function for May 2005
df_may = rentals_month(engine, 5, 2005)

# Display the first few rows
print(df_may.head())

   rental_id  customer_id rental_date
0          1          130  2005-05-24
1          2          459  2005-05-24
2          3          408  2005-05-24
3          4          333  2005-05-24
4          5          222  2005-05-24

In [30]:
# Step 3: Create rental_count_month Function

def rental_count_month(df, month, year):
    rental_col = "rentals_{:02d}_{}".format(month, year)
    
    return (
        df.groupby("customer_id")["rental_id"]
        .count()
        .reset_index()
        .rename(columns={"rental_id": rental_col})
    )
# Example usage for May 2005
df_may = rentals_month(engine, 5, 2005)

# Now, pass the retrieved DataFrame into rental_count_month
df_may_count = rental_count_month(df_may, 5, 2005)

# Display the first few rows
print(df_may_count.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

In [34]:
# Step 4: Create compare_rental function
import pandas as pd

def compare_rentals(df1, df2):
    """
    Merges two DataFrames with rental counts by customer and calculates 
    the difference in rentals between the two months.
    
    Parameters:
    df1 (DataFrame): Rental count DataFrame for Month 1
    df2 (DataFrame): Rental count DataFrame for Month 2

    Returns:
    DataFrame: Combined DataFrame with 'difference' column
    """
    # Merge the DataFrames on customer_id
    combined_df = df1.merge(df2, on="customer_id", how="outer").fillna(0)

    # Extract rental column names dynamically
    rental_col_1 = combined_df.columns[1]  # First rental column
    rental_col_2 = combined_df.columns[2]  # Second rental column

    # Create 'difference' column
    combined_df["difference"] = combined_df[rental_col_2] - combined_df[rental_col_1]

    return combined_df

df_june = rentals_month(engine, 6, 2005)  # Retrieve rental data for June
df_june_count = rental_count_month(df_june, 6, 2005)  # Process rental count

df_may_count = rental_count_month(df_may, 5, 2005)
df_june_count = rental_count_month(df_june, 6, 2005)

df_comparison = compare_rentals(df_may_count, df_june_count)
print(df_comparison.head())

   customer_id  rentals_05_2005  rentals_06_2005  difference
0            1              2.0              7.0         5.0
1            2              1.0              1.0         0.0
2            3              2.0              4.0         2.0
3            4              0.0              6.0         6.0
4            5              3.0              5.0         2.0